.Intro 
    color: blue

.Primary-Header
    
    div
        height: 40em
        width: 100vw
    h1
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        color: black
        font:
            size: 100px
            style: bold
       
.Intro
    background: 
        image: url("../images/irrigation.jpg")
        repeat: no-repeat
        size: cover

.Landscaping
    background:
        image: url("../images/landscaping_four.jpg")
        repeat: no-repeat
        size: cover
    

.Hardscaping
    background:
        image: url("../images/hardscape.jpg")
        repeat: no-repeat
        size: cover
    

.Fertilizing
    background: 
        image: url("../images/landscaping_five.jpg")
        repeat: no-repeat
        size: cover
    

    
        


    