@import 'var.sass'
   
.Intro 
    color: black

.Primary-Header
    div
        height: 40em
        width: 100vw

    .flex 
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        
        h1
            color: white
            font:
                size: 100px
                style: bold
            background: $blue
            opacity: .5
            
.Intro
    background-image: url("../images/irrigation.jpg")
    +slick-back(cover)

.Landscaping
    background-image: url("../images/landscaping_four.jpg")
    +slick-back
.Hardscaping
    background-image: url("../images/hardscape_two.jpg")
    +slick-back
.Fertilizing
    background-image: url("../images/landscaping_five.jpg")
    +slick-back

    
        


    